<div class="container bg-secondary">
    <form class="mt-5"  name="form1" id="form1" onsubmit="return normal()">
        <div class="form-group">
          <label for="string" class="text-dark p-2 h4 bg-info">Input a string</label>
          <input type="text" class="form-control" id="rev" name="rev" placeholder="Please Enter a String">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" value="submit" id="submit" name="submit" type="submit">Reverse</button>
        </div>
        <h2 class="demo" id="demo"></h2>
      </form>
</div>