<div class="container mt-5">
        
        
    <div class="demo1">
<h1 class="h2 display-4 text-light text-center">Employee Details</h1></div>
<div class="demo">
<div class="border p-3">
    
    
    <form>
       
        <div class="form-group text-primary">
            <label for="eid"><h3>Employee ID</h3></label>
            <input type="number" name="" id="eid" class="form-control" placeholder="1234">
            
        </div>

        <div class="form-group text-success">
            <label for="ename"><h3>Employee Name</h3></label>
            <input type="text" name="" id="ename" class="form-control" placeholder="Enter Name">
            
        </div>
    
        
        <div class="form-group text-primary">
            <label for="age"><h3>Age</h3></label>
            <input type="number" name="" id="age" class="form-control" placeholder="24">
            
        </div>
    
        
        <div class="form-group text-success">
            <label for="gender"><h3>Gender</h3></label><br>
                <input type="radio" name="gender" id="male" value="Male">
                <label for="male"><h4>Male</h4></label>
                <input type="radio" name="gender"  id="female" value="Female">
                <label for="female"><h4>Female</h4></label>
            
        </div>
        <div class="form-group text-primary">
            <label for="designation"><h3>Designation</h3></label>
            <input type="text" name="" id="designation" class="form-control" placeholder="Software Developer">
            
        </div>
        <div class="form-group text-success">
            <label for="salary"><h3>Salary</h3></label>
            <input type="number" name="" id="salary" class="form-control" placeholder="400000">
            
        </div>
        <div class="form-group text-primary">
            <label for="location"><h3>Location</h3></label>
            <select name="" id="location" class="custom-select">
                <option value=""><h4>Location</h4></option>
                <option value="indore">Indore</option>
                <option value="ahmedabad">Ahmedabad</option>
                <option value="other">Other</option>
            </select>
            
        </div>
        <div class="form-group text-success">
            <label for="email"><h3>Email Id</h3></label>
            <input type="email" name="" id="email" class="form-control" placeholder="ab@ab.com">
            
        </div>
        <div class="form-group text-primary">
            <label for="dateOfJoining"><h3>Date of Joining</h3></label>
            <input type="date" name="" id="dateOfJoining" class="form-control">
            
        </div>
    
        <div class="form-group text-success">
            <label for="contact"><h3>Contact Number</h3></label>
            <input type="number" name="" id="contact" class="form-control" placeholder="9630627424">
            
        </div>
        
        <input type="submit" value="          Submit          " class="btn btn-primary font-weight-bold" onclick="return validateForm()">
        
    
    </form>
    <div id="errid"></div>
</div>
</div>
</div>