.demo{
    background: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
} 
.demo1{
    background: rgba(9, 24, 223, 0.815);
    font-family: 'Times New Roman', Times, serif;
}