<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="" class="navbar-brand">
                <img src="../../assets/img/Radix.png.png" alt="" class="img-fluid" height="100px" width="100px">
            </a>
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarnav1"><span
                    class="navbar-toggler-icon"></span></button>
            <div class=" navbar-collapse collapse" id="navbarnav1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/html" class="bg-primary text-dark nav-link">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/css" class="bg-warning text-dark nav-link">CSS</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/javascript" class="bg-success text-dark nav-link">JavaScript</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div  style="margin-top: 140px;">
    </div>

    <router-outlet></router-outlet>
</div>