<div class="container bg-info my-5">
    <div class="row">
        <div class="col-2 border border-dark">ProductID</div>
        <div class="col-3 border border-dark">ProductName</div>
        <div class="col-2 border border-dark">Price</div>
        <div class="col-1 border border-dark">Quantity</div>
        <div class="col-3 border border-dark"></div>
        <div class="col-1 border border-dark"></div>
    </div>
    <div class="row" id="click1">
        <div class="col-2 border border-dark" id="1">1</div>
        <div class="col-3 border border-dark" id="2">Cheese</div>
        <div class="col-2 border border-dark" id="3">100</div>
        <div class="col-1 border border-dark" id="4">1</div>
        <div class="col-3 border border-dark"><input class="my-2 py-0 bg-success" onclick="getproduct(click1)" type="button" value="Add to Cart"></div>
        <div class="col-1 border border-dark"></div>
    </div>
    <div class="row" id="click2">
        <div class="col-2 border border-dark" id="5">2</div>
        <div class="col-3 border border-dark" id="6">Pen</div>
        <div class="col-2 border border-dark" id="7">150</div>
        <div class="col-1 border border-dark" id="8">2</div>
        <div class="col-3 border border-dark"><input class="my-2 py-0 bg-success" onclick="getproduct(click2)" type="button" value="Add to Cart"></div>
        <div class="col-1 border border-dark"></div>
    </div>
    <div class="row" id="click3">
        <div class="col-2 border border-dark" id="9">3</div>
        <div class="col-3 border border-dark" id="10">Butter</div>
        <div class="col-2 border border-dark" id="11">100</div>
        <div class="col-1 border border-dark" id="12">1</div>
        <div class="col-3 border border-dark"><input class="my-2 py-0 bg-success" onclick="getproduct(click3)" type="button" value="Add to Cart"></div>
        <div class="col-1 border border-dark"></div>
    </div>
    <div class="row" id="click4">
        <div class="col-2 border border-dark" id="13">4</div>
        <div class="col-3 border border-dark" id="14">Pencil</div>
        <div class="col-2 border border-dark" id="15">10</div>
        <div class="col-1 border border-dark" id="16">1</div>
        <div class="col-3 border border-dark"><input class="my-2 py-0 bg-success" onclick="getproduct(click4)" type="button" value="Add to Cart"></div>
        <div class="col-1 border border-dark"></div>
    </div>
</div>

<div class="container bg-dark text-center" id="click5">
    <input type="button" class="my-3 py-2 bg-primary" onclick="getproduct(click5)" value="Summary">
</div>