<div class="container p-5 bg-dark text-white mt-5">
    <h1 class="p-3 mb-2 text-center text-white">Function Expression to find the area of circle</h1>
    <form name="circle" id="circle">
        <div class="form-group">
            <label for="inp">Enter Radius:</label>
            <div class="input-group">
                <input type="number" name="inp" id="inp" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Find The Area Of Circle</button>
                </div>
            </div>
        </div>
    </form>
    <h3 class="p-3" id="output"></h3>
</div>