<nav>
<label class="logo"><a href="home.html">RADIXWEB</a></label>
<ul>
  <li><a href="home.html">HOME</a></li>
  <li><a href="About.html">ABOUT</a></li>
  <li><a href="Contact.html">CONTACT</a></li>
</ul>

</nav>



<div id="sidebar-left">Left</div>


<div id="main">Main Page
  <p>An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed):
     An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed):
     An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed):
     An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed):
  </p>

</div>

<div id="sidebar-right">Right</div>

<div id="footer">Footer</div>